/*!
 * ADMIN (wow)
 */
/* Table of Contents
/*** CONTENTS ***/
/*****************************************************************
01. #jQuery ClassyCountdown
02. #Dropzone UPLOAD
03. #Magnific Popup CSS
04. #IsoTop
05. #Ajax Bootstrap Select
****************************************************************/


.mfp-wrap{
    z-index: 1052!important;
}

.osd-patch{
    top: 30px !important;
    left: -146px;

}

.od-patch-top{
    margin-top: 0!important;
}

.ecommerce-widget .progress-showcase {
    margin-top: 10px;
}

/* .browser-widget .media-body.b4{
    column-count: 4!important;
} */


.browser-widget .media-body-n.b44 h4 {
    color: #242934;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

.browser-widget .media-body-n.b44 p{
    margin-bottom: 5px;
    font-weight: 600;
    color: #999;
}

  /*masonry layout hack */
.element-item {
    float: left;
    /* width: 100%; */
    /* min-height: 950px; */
    position: initial !important;;
  left: 0%!important;
  top: 0%!important;
  margin-bottom: 15px;
  }