{% if flashMsg.msg!="" %}
<div class="row">
    <div class="col-md-12">
        <div  class="alert alert-{{flashMsg.type}} alert-dismissible fade show " role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            <h5><i class="icon fas fa-check"></i> Warning!</h5>
            {{flashMsg.msg}}
        </div>
    </div>
</div>

{%endif%}