<script src="/assets/admin/stnc-upload/js/toastr.min.js"></script>
<link href="/assets/admin/stnc-upload/css/toastr.min.css" type="text/css" rel="stylesheet" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
    function toastrCall(status, msg) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr[status](msg);
    }
    $(document).ready(function () {
        $("body").on("click", "#ShowPasswordNewClose", function (e) {
            e.preventDefault();
            $.magnificPopup.proto.close.call(this);
        });

        $("body").on("click", "#summitBtn", function (e) {
            let frm = $('form#summitBtnFrm');
            e.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data.status == "ok") {
                        toastrCall("success", "Basari ile Kaydedildi");
                    } else {
                        toastrCall("warning", "Sifre Bos Olamaz");
                    }
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        });
    });

    function genPasswordNew() {
        var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var PasswordNewLength = 8;
        var PasswordNew = "";
        for (var i = 0; i <= PasswordNewLength; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            PasswordNew += chars.substring(randomNumber, randomNumber + 1);
        }
        document.getElementById("pass").value = PasswordNew;
    }

    //   <a  id="button" class="btn2" onclick="copyPasswordNew()">Copy</a>
    // function copyPasswordNew() {
    //   var copyText = document.getElementById("PasswordNew");
    //   copyText.select();
    //   document.execCommand("copy");
    // }

    function HidePasswordNew() {
        var x = document.getElementById("pass");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function NewPasswordModalBox(id) {
        // e = e || window.event;
        // e.preventDefault();
        $.magnificPopup.open({
            items: {
                src: "/admin/user/NewPasswordModalBox/?userID="+id
            },
            type: 'ajax',
        })
    }



</script>