<!--Loop over the `payload` variable, which is the list of articles-->
{% extends "../app.html" %}
{% block content %}
{% set RootName = 'admin-user' %}
{% set routerName ='admin/user' %}

{% include "../viewComponents/alertMsg.html"%}

<form accept-charset="UTF-8" action="/{{routerName}}/update" enctype="multipart/form-data" method="POST">
    <input name="_csrf" type="hidden" value="{{ csrf }}">
    <input name="_method" type="hidden" value="PUT">
    <input name="userID" type="hidden" value="{{data.ID}}">
    <input name="ID" type="hidden" value="{{data.ID}}">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">

                            <strong> {{locale.Get("Create a brand new user and add them to this site.")}}</strong>

                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="Username">  {{locale.Get("Username")}}</label>
                                        <input class="form-control {{err.Username_valid}}" id="Username"
                                               name="Username"
                                               type="text" value="{{data.Username}}">
                                        {% if err.Username_error %}
                                        <div class="invalid-feedback" style="display:block">{{err.Username}}</div>
                                        {% endif %}
                                    </div>


                                    <div class="form-group">
                                        <label for="Email">  {{locale.Get("Email")}} </label>
                                        <small class="red-color">*</small>
                                        <input class="form-control {{err.Email_valid}}" id="Email" name="Email" type="text" value="{{data.Email}}">

                                        {% if err.Email_error %}
                                        <div class="invalid-feedback" style="display:block">{{err.Email}}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="Phone">{{locale.Get("Phone")}}</label>
                                        <input class="form-control {{err.Phone_valid}}" id="Phone" name="Phone"
                                               type="text" value="{{data.Phone}}">
                                        {% if err.Phone_error %}
                                        <div class="invalid-feedback" style="display:block">{{err.Phone}}</div>
                                        {% endif %}
                                    </div>


                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="FirstName">{{locale.Get("First Name")}}</label>
                                        <input class="form-control {{err.FirstName_valid}}" id="FirstName"
                                               name="FirstName" type="text" value="{{data.FirstName}}">
                                        {% if err.FirstName_error %}
                                        <div class="invalid-feedback" style="display:block">{{err.FirstName}}</div>
                                        {% endif %}
                                    </div>


                                    <div class="form-group">
                                        <label for="LastName">  {{locale.Get("Lastname")}}</label>
                                        <input class="form-control {{err.LastName_valid}}" id="LastName" name="LastName"
                                               type="text" value="{{data.LastName}}">
                                        {% if err.LastName_error %}
                                        <div class="invalid-feedback" style="display:block">{{err.LastName}}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">


                        <div class="card-body">

                            <div class="form-group">
                                <label> {{locale.Get("Password")}}</label>
                                <button class="btn btn-primary btn-xs" onclick='NewPasswordModalBox( event)'
                                        type="button">
                                        {{locale.Get("Set New Password ")}}
                                </button>

                            </div>


                            <div class="form-group m-t-15 custom-radio-ml">
                                <label>{{locale.Get("Roles")}}</label>
                                {% for role in roles %}
                                <div class="radio radio-primary">
                                    <input id="radio{{role.ID }}"  {%if role.ID== data.RoleID %} checked {% endif %} name="RoleID" type="radio" value="{{role.ID }}">
                                    <label for="radio{{role.ID }}"><span class="digits"> {{role.Title }}</span></label>
                                </div>
                                {% endfor %}

                                {% if err.RoleID_error %}
                                <div class="invalid-feedback" style="display:block">{{err.RoleID}}</div>
                                {% endif %}

                                <a target="_blank" href="/admin/roles/"> {{locale.Get("More information")}}</a>

                            </div>


                            <div class="card-footer">
                                <button class="btn btn-sm btn-primary" type="submit"> {{locale.Get("Save")}}</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %} {% block jsInline %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>

    $(document).ready(function () {
        $("body").on("click", "#ShowPasswordNewClose", function (e) {
            e.preventDefault();
            $.magnificPopup.proto.close.call(this);
        });

        $("body").on("click", "#summitBtn", function (e) {
            alert(`sdsd`)
            let frm = $('form#summitBtnFrm');
            e.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data.status == "ok") {
                        toastrCall("warning", "basarili sadds");
                    }
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        });
    });

    function genPasswordNew() {
        var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var PasswordNewLength = 8;
        var PasswordNew = "";
        for (var i = 0; i <= PasswordNewLength; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            PasswordNew += chars.substring(randomNumber, randomNumber + 1);
        }
        document.getElementById("pass").value = PasswordNew;
    }

    //   <a  id="button" class="btn2" onclick="copyPasswordNew()">Copy</a>
    // function copyPasswordNew() {
    //   var copyText = document.getElementById("PasswordNew");
    //   copyText.select();
    //   document.execCommand("copy");
    // }

    function HidePasswordNew() {
        var x = document.getElementById("pass");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function NewPasswordModalBox(e) {
        e = e || window.event;
        e.preventDefault();

        $.magnificPopup.open({
            items: {
                src: "/admin/user/NewPasswordModalBox/?userID="+{% autoescape off %}{{data.ID}}{% endautoescape %}
            },
            type: 'ajax',
        })
    }
</script>


{% endblock %}