
{% set routerName = 'admin/user' %}

<form style="width: 600px; margin: auto;" method="POST" action="/{{routerName}}/passportchange" accept-charset="UTF-8" id="summitBtnFrm" >
  <div class="card" >

    <div class="modal-body">
      <input name="_csrf" type="hidden" value="{{ csrf }}">
      <input name="formtype" type="hidden" value="inline">
      <input class="form-control" id="userID" name="userID" value="{{userID}}" type="hidden">

      <div class="row">
        <div class="col-md-12">

          <div class="form-group">
            <label for="pass">Password</label>
            <input class="form-control {{err.Password_valid}}" id="pass" name="pass"
                   value="" type="text" autocomplete="off">
            {% if err.Password_error %}
            <div class="invalid-feedback" style="display:block">{{err.Password}}</div>
            {% endif %}
            <button class="btn btn-danger btn-xs" onclick="genPasswordNew()"  type="button">Generate
              Password
            </button>
            <button class="btn btn-info btn-xs" onclick="HidePasswordNew()" type="button">
              Hide Password
            </button>

            <br>
            <input type="checkbox">
            tum sorumlulugu aliyorum bu kisiye pasaport bilgisini olarak mail gonder --calismiyor henuz



          </div>

        </div>



      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary"  id="ShowPasswordNewClose" type="button" data-dismiss="modal">Close</button>
      <button class="btn btn-success" id="summitBtn" type="button" data-dismiss="modal">Save</button>

    </div>
  </div>

</form>
        